<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>mylk's password generator</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">mylk</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://mylk.github.io">Blog</a></li>
                <li><a href="https://github.com/mylk">GitHub</a></li>
                <li><a href="https://twitter.com/mylkohrly">Twitter</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="ww">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 centered">
                <h1>Not just another password generator!</h1>
                <p>
                    Most password generators create passwords that are too random for anyone to remember.
                    That's annoying, unless you are a cyborg (blip blop ma friend).
                </p>
                <p>
                    You just can't forget the passwords this tool generates,<br />
                    because they consist of valid English words!
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container pt">
    <div class="row mt centered">
        <div>
            <form method="POST">
                <input type="submit" class="btn btn-secondary btn-lg" value="Generate password" />
            </form>
        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <div class="row mt mb-0 mt-0 centered">
            <h4>About this tool</h4>
            <p>
                This tool is free / libre software. It's source code is on <a href="https://github.com/mylk/secret-spawn">github</a>.
            </p>
            <p>
                 Web interface based on <a href="https://blacktie.co/stanley-freelancer-theme/">Stanley - Freelancer</a> theme by BlackTie.
            </p>
        </div>
    </div>
</div>
</body>
</html>
